# .github/workflows/staging-tag.yml
name: Staging Tag

on:
  push:
    branches: [staging]

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create staging tag
        uses: mathieudutour/github-tag-action@v6.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: patch
          append_to_pre_release_tag: rc
